.filter-bar {
    display: flex;
    gap: 10px;
    flex-direction: column;
    border: 3px solid transparent;
    flex-shrink: 1;
    background-color: rgba(240, 248, 255, 0.20);
    border-radius: 6px;
    padding: 6px;
    max-height: fit-content;
}

.filter-bar input,
.filter-bar select {
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
}

.filter-bar button {
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}