.product-card {
    border: 2px solid transparent;
    background-color: rgba(240, 248, 255, 0.2);
    /* box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.6); */
    border-radius: 8px;
    padding: 7px;
    min-width: 200px;
    max-width: 450px;
    transition: background-color 0.5s, box-shadow 0.5s;
    flex: 0 0 auto;
}

.product-card img {
    border-radius: 8px;
    overflow: hidden;
}

.product-card:hover {
    background-color: rgba(156, 160, 163, 0.2);
    /* box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.6); */
}