.banner-search {
    display: flex;
    justify-items: center;
    flex-grow: 1;
    max-width: 700px;
    
}

.banner-search input {
    padding-inline: 10px;
    border-radius: 12px;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: #4e505a;
    margin-right: 20px;
}

.banner-search button {
    border-radius: 12px;
    background-color: #4e505a;
}